<div class="contact-card-container">
  
  <div class="card-header">
    <div class="contact-card-cover">
    	<h1>Sea un extraño una sola vez</h1>
		<p id="post-tittle">Contáctenos a través de nuestras direcciones o envienos un mensaje.</p>
		<span><i>Teléfono:</i> 01 555 555  anexo 3</span>
		<span><i>WhatsApp:</i> +51 999 999 999</span>
		<span><i>Dirección:</i> Av Siempre Viva 465 Springfield</span>
    </div> 
  </div>

  <div class="card-body">

    <div class="card-summary">
		<form id="frm_contact" name="frm_contact" style="padding-top: 32px;">
			<div>
				<div class="input-group">
					<input type="text" name="name" id="name" placeholder="Apellidos y Nombres">
				</div>
				<div class="input-group">
					<input type="email" name="email" placeholder="Correo Electrónico" id="email">
				</div>
				<div class="input-group">
					<textarea name="message" id="message" placeholder="Mensaje"></textarea>
				</div>
				<button type="submit" class="btn" onclick="simpleroute.getctrl().Enviar(simpleroute.get('frm_contact'))">Enviar</button>
			</div>
		</form>
    </div>
	
	<div class="btns">
	</div>
  </div>
  
</div>