<ul class="cards">
  
    <li class="cards_item">
        <div class="card ">
      
            <div class="card_image">
                <img src="img/Hydropower.jpg" />
            </div>
      
            <div class="card_content">
                <h2 class="card_heading">First</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt recusandae perferendis numquam veritatis illum odio iusto est omnis harum, sit, quia, veniam, officia consectetur tempore excepturi vel dicta aliquam nam.</p>
                <a href="javascript:void(0)" class="card_button" data-id="KJSHD12">Ver más...</a>
            </div>
      
        </div>
    </li>
 
    <li class="cards_item">
        <div class="card ">
      
            <div class="card_image">
                <img src="img/MED_LON.JPG" />
            </div>
      
            <div class="card_content">
                <h2 class="card_heading">Second</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nobis blanditiis ab, quibusdam veritatis officiis nihil corrupti aliquid, fugit, iste nisi! Nihil sed odio, fuga officia voluptates esse explicabo aperiam?</p>
                <a href="javascript:void(0)" class="card_button" data-id="KJSHD12">Ver más...</a>
            </div>
      
        </div>
    </li>

    <li class="cards_item">
        <div class="card ">
      
            <div class="card_image">
                <img src="img/River.jpg" />
            </div>
      
            <div class="card_content">
                <h2 class="card_heading">Third</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia eos modi, odio, inventore, unde quod recusandae dolorem autem adipisci neque dolorum animi sit voluptatibus fugiat itaque quo? Nulla, quam, ipsum.</p>
                <a href="javascript:void(0)" class="card_button" data-id="KJSHD12">Ver más...</a>
            </div>
      
        </div>
    </li>

    <li class="cards_item">
        <div class="card ">
      
            <div class="card_image">
                <img src="img/salmon.JPG" />
            </div>
      
            <div class="card_content">
                <h2 class="card_heading">Fourth</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veritatis fugiat, magnam, voluptates nisi sequi, reiciendis ea atque accusamus non doloremque consequuntur obcaecati rem ipsa, assumenda maiores. Sit, dolor, inventore.</p>
                <a href="javascript:void(0)" class="card_button" data-id="KJSHD12">Ver más...</a>
            </div>
      
        </div>
    </li>

    <li class="cards_item">
        <div class="card ">
      
            <div class="card_image">
                <img src="img/amz12.jpg" />
            </div>
      
            <div class="card_content">
                <h2 class="card_heading">Fifth</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nemo minus illo architecto nihil doloribus rem, iste totam! Accusantium, voluptatibus? Sapiente nesciunt quasi facere pariatur iure, hic mollitia error quam?</p>
                <a href="javascript:void(0)" class="card_button" data-id="KJSHD12">Ver más...</a>
            </div>
      
        </div>
    </li>

</ul>