<div class="service-card-container">
  
  <div class="card-header">
    <div class="service-card-cover">
    </div>
  </div>

  <div class="card-body">
    <div class="card-title">
      <h1><a href="#">Eight conspiracy theories that turned out to be true</a></h1>
    </div>
    <div class="card-summary">
      <p>A theory of conspiracy or conspiracy theory can be defined as the attempt to explain an event or a chain of events, happened or still to happen, either perceived or real, commonly of political, social, economic or historical importance, by means of the existence of a very powerful, extensive, long-lasting and, generally, malicious secret group.</p>
    </div>
	
	<div class="btns">
		<a href="" class="btn-view-more">Ver Detalle</a>
	</div>
  </div>
  
</div>

<div class="service-card-container">
  
  <div class="service-card-header">

  </div>

  <div class="card-body">
    <div class="card-title">
      <h1><a href="#">Nasa</a></h1>
    </div>
    <div class="card-summary">
      <p>La Administración Nacional de la Aeronáutica y del Espacio, más conocida como NASA (por sus siglas en inglés, National Aeronautics and Space Administration), es la agencia del gobierno estadounidense responsable del programa espacial civil, así como de la investigación aeronáutica y aeroespacial.</p>
    </div>
	<div class="btns">
		<a href="" class="btn-view-more">Ver Detalle</a>
	</div>
  </div>
  
</div>


<script type="text/javascript" src="//use.typekit.net/wtt0gtr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
