/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto' , sans-serif;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'roboto', sans-serif;
	color: #777;
	background: #fafafa;
}
h1, h2 , h3{
  color: #444;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/*scroll */
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #7B7B7B; 
	border-radius: 5px; 
}
#app
{
	width: 100%;
	height: calc(100vh - 50px);
	position: absolute;
	top: 50px;
	left: 0px;
	overflow: hidden;
	overflow-y: auto;
}
#app-content
{
	width: 100%;
	top: 50px;
	left: 0px;
	overflow: hidden;
}
navigator-menu-bar {
	z-index: 100;
}
navigator-footer-bar{
	padding: 0 20px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -webkit-flex-direction: column; */
    -ms-flex-direction: column;
    flex-direction: column;
    /* -webkit-flex-shrink: 0; */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    /* padding: 0; */
    position: relative;
}
button.btn{
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 3px;
  color: white;
  font-size: .75rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding:.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
  background: #8b837d;
}


.news-Letter{
	text-align: center;
	padding-top: 3.2em;
	padding-bottom: 3.2em;
}

.news-Letter,
.news-Letter .container{
	position: relative;
}
.news-Letter .container{
	width: 90%;
	margin-right: auto;
	margin-left: auto
}
.news-Letter .container p{
	margin: 1em auto;
	line-height: 1.2;
}

.news-Letter .container form{
	position: relative;
	display: inline-block;
	width: 90%;
	max-width: 420px;
}

.news-Letter .container #newsletter__response
{
	font-size: .8rem!important;
	min-height: 16px;
	margin-bottom: 0!important;
	bottom: -30px;
	width: 100%;
	left: 0;
	color: #fc4348!important;
}
.news-Letter .container form input[type="email"]{
	width: 100%;
	padding: 0 110px 0 1.2em;
	height: 60px;
	border-radius: 50em;
	overflow: hidden;
	text-overflow: ellipsis;
    box-shadow: none;
    border: 2px solid #d8dadb;
    background: #fff;
}
@media only screen and (min-width: 1024px)
{
	.news-Letter .container form input[type="email"]{
	    height: 68px;
	    font-size: 1.2rem;
	}
}
.news-Letter .container form button
{
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	position: absolute;
	width: 100px;
	height: 50px;
	border-radius: 50em;
	background: #d8dadb;
	right: 5px;
	top: calc(50% - 25px);
	overflow: hidden;
	-webkit-transition: all .3s;
	transition: all .3s;

}

@media only screen and (min-width: 1024px)
{
	.news-Letter .container form button {
		height: 56px;
		top: calc(50% - 28px);
		right: 6px;
	}
}